<h2>Welcome to the Admin Panel</h2>

<p>
  As an admin, you can manage smart contracts, mint and transfer NFTs, and view users and transactions.
</p>

<ul>
  <li><%= link_to "Mint NFT", "#" %></li>
  <li><%= link_to "View All NFTs", "#" %></li>
</ul>
