<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card text-center">
        <img src="<%= asset_path('logo.png') %>" alt="Brightcoders logo" class="card-img-top mx-auto mt-3" style="width: 200px;">
        <div class="card-body">
          <h2 class="card-title">Welcome to Brightcoders NFT School</h2>
          <p class="card-text">Mint NFTs for students and experience the power of blockchain technology in education.</p>
            <div class="nav-item">
              <%= form_tag user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false } do %>
                <%= submit_tag "Sign in with Google", class: "btn btn-primary" %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
